body {
	background-color: #3fa176;
	overflow-x: hidden;
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	position: sticky;
	display: grid;
	top: 0;
	margin: 0;
	padding-top: 20px;
	background-color: rgb(0, 0, 0, 50%);
}

#naslov {
	width: auto;
	margin-left:20px;
	padding-bottom: 15px;
}

h1 {
	font-size: 30px;
	color: #d9a711;
	margin: 0;
	padding-bottom: 15px;
}

#meni {
	justify-self: end;
	margin-right: 20px;
}

p {
	font-size: 25px;
	color: black;
	margin: 0;
}

a{
	color:#d9a711;
	text-decoration: none;
}

img {
	width: 100%;
	
}

h2 {
	font-weight: 500;
	font-size: 30px;
	color: #d9a711;
	margin: 0;
	padding-top: 10px;
	padding-bottom: 15px;
	text-align: center;
}

#about_elementi {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap:1em;
	margin: 100px 7vw 100px 7vw;
	grid-template-areas:
	"box-1 box-2";
}

.about_elementi img {
	width: 100%;
}

footer {
	text-align: center;
	margin: 30px;
}