body {
	background-color: #825da8;
	overflow-x: hidden;
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	display: grid;
	padding-top: 20px;
	background-color: rgb(0, 0, 0, 50%);
}

#naslov {
	margin-left:20px;
	padding-bottom: 15px;
}

h1 {
	font-size: 30px;
	color: #d9a711;
	margin: 0;
	padding-bottom: 15px;
}

h2 {
	font-size: 40px;
}

p {
	font-size: 25px;
	color: #d9a711;
	margin: 0;
}

a{
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

.text-block1,
.text-block3  {
	position: absolute;
	bottom: 0;
	background: rgb(93, 61, 125, 0.8);
	color: #d9a711;
	padding: 30px;
	width:100%;
}

.text-block2 {
	position: absolute;
	bottom: 0;
	background: rgb(217, 167, 17, 0.8);
	color: #5d3d7d;
	padding: 30px;
	width:100%;
}

#elementi {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-auto-rows: 1fr;
	gap:1em;
	margin: 50px 7vw 100px 7vw;
	grid-template-areas:
	"box-3 box-2"
	"box-1 box-2";
	align-items: stretch;
}

.element1,
.element3 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.element2 {
	overflow: hidden;
	max-height: 100%;
	position: relative;
}

.element1:hover,
.element2:hover,
.element3:hover {
	opacity: 0.5;
	transition: opacity 150ms;
}

footer {
	text-align: center;
	margin: 30px;
}

.element1 img,
.element2 img,
.element3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}