body {
	background-color: black;
	overflow-x: hidden;
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	position: sticky;
	display: grid;
	top: 0;
	margin: 0;
	padding-top: 20px;
	grid-template-colums: auto auto;
	background-color: rgb(0, 0, 0, 50%);
}

#naslov {
	margin-left:20px;
	padding-bottom: 15px;
}

h {
	font-size: 30px;
	color: #d9a711;
	margin: 0;
	padding-bottom: 15px;
}

#meni {
	justify-self: end;
	margin-right: 20px;
}

p {
	font-size: 25px;
	color: #d9a711;
	margin: 0;
}

a{
	color:#d9a711;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

#elementi {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-auto-rows: 0.4fr;
	gap:1em;
	margin: 50px 15vw 50px 15vw;
	grid-template-areas:
	"box-3 box-3"
	"box-1 box-5"
	"box-2 box-5"
	"box-4 box-4";
	align-items: stretch;
}

.element1,
.element2,
.element3,
.element4,
.element5 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

footer {
	text-align: center;
	margin: 30px;
}

.element1 img,
.element2 img,
.element3 img,
.element4 img,
.element5 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.element1:hover,
.element2:hover,
.element3:hover,
.element4:hover,
.element5:hover {
	transform:scale(1.1);
	transform:height(100);
	z-index:7;
	transition: transform .7s;
	overflow: visible;
}
