body {
	background-color: #021A35;
	overflow-x: hidden;
	margin: 0;
	font-family: Arial, sans-serif;
}

header {
	position: sticky;
	display: grid;
	top: 0;
	margin: 0;
	padding-top: 20px;
	grid-template-colums: auto auto;
	background-color: rgb(0, 0, 0, 50%);
}

#naslov {
	width: auto;
	margin-left:20px;
	padding-bottom: 15px;
}

h1 {
	font-size: 30px;
	color: white;
	margin: 0;
	padding-bottom: 15px;
}

#meni {
	justify-self: end;
	margin-right: 20px;
}

p {
	font-size: 25px;
	color: white;
	margin: 0;
}

a{
	color:#d9a711;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
}

h2 {
	font-size: auto;
	color: white;
}

.text-block1,
.text-block2,
.text-block3   {
	position: absolute;
	bottom: 0;
	background: rgb(54, 70, 93, 0.8);
	padding: 10px;
	width:100%;
}

#nalozi {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-auto-rows: 1fr;
	margin: 50px 7vw 50px 7vw;
	gap: 1em;
	align-items: stretch;
}

.nalog1:hover,
.nalog2:hover,
.nalog3:hover {
	opacity: 60%;
	transition-duration: 150ms;
}

.nalog1,
.nalog2,
.nalog3 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.nalog1 img,
.nalog2 img,
.nalog3 img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

footer {
	text-align: center;
	margin: 30px;
}